.form_cont{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form_input {
    width: 90%;
    height: 30px;
    margin: 0.5rem;
}
  
  .form_button {
    padding: 0.5em 1em;
    border: none;
    background: #64c8ff;
    cursor: pointer;
}
  