footer{
    background-color: grey;
}
.col{
    padding: 10px;
}
.container{
    padding: 12px;
}
#ft{
  padding: 15px;
}
#prod img {
    height: 400px;
    width: 400px;
}
#prod img:hover {
    box-shadow: 10px 10px 10px black;
    transform: scale(1.1);
}