@font-face {
    font-family: txt;
    src: url("../fonts/Montserrat-Regular.ttf");
}
  
h1 {
    font-family: txt;
}
  
h2 {
    font-family: txt;
}
  
h3 {
    font-family: txt;
}
  
h5 {
    font-family: txt;
}
  
p {
    font-family: txt;
}
  
li {
    font-family: txt;
}
  
label {
    font-family: txt;
}
  
input {
    font-family: txt;
}
#cont_list {
    list-style: none;
    text-decoration: none;
    box-shadow: none;
    color: black;
}
  
  #cont_red {
    list-style: none;
    text-decoration: none;
    box-shadow: none;
    color: black;
}
  