footer {
  background-color: grey;
  width: 100%;
}

#clientes {
  padding: 25px;
}

#ft {
  padding: 15px;
}

header img {
  height: 650px;
  width: 650px;
}

footer {
  background-color: grey;
}

.col {
  padding: 10px;
}

.container {
  padding: 12px;
}

#ft {
  padding: 15px;
}

#prod img {
  height: 400px;
  width: 400px;
}

.form_cont {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  margin-left: 1%;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.form_input {
  width: 90%;
  height: 30px;
  margin: 0.5rem;
}

.form_button {
  padding: 0.5em 1em;
  border: none;
  background: #64c8ff;
  cursor: pointer;
}

@font-face {
  font-family: txt;
  src: url("../Fonts/Montserrat-Regular.ttf");
}

h1 {
  font-family: txt;
}

h2 {
  font-family: txt;
}

h3 {
  font-family: txt;
}

h5 {
  font-family: txt;
}

p {
  font-family: txt;
}

li {
  font-family: txt;
}

label {
  font-family: txt;
}

input {
  font-family: txt;
}

#cont_red {
  list-style: none;
  text-decoration: none;
  color: black;
}
